<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CADAL OEB CREATOR ONLINE</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="The Advanced Generator, with support for all valid Dublin Core qualifiers and encoding schemes." />

	<link rel="stylesheet" type="text/css" href="css/dcstyle.css"></link>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.17.custom.css"></link>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon"></link>

</head>
<body class="indexbody">
  <div class="container">
    <div class="header">CADAL OEB 元数据生成器</div>
    <ul id="newmenu">
      <li><a href="/" title="Main Page">首页</a></li>
		  <li><a href="/about" title="About">关于</a></li>
    </ul>
		<div>&nbsp;</div>
		<div class="page">
		<div class="centerpage">
		<div class="centerbox">
		  <div class="boxheader">关于</div>
		  <div class="boxtext">
		  <p>CADAL!!!</p>
		  </div>
		</div>

		</div>
		&nbsp;
		<div class="lowerbox">
		<div class="lowertext">
		  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/80x15.png" height="15" width="80"/></a> The content on this site is released under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p>
		  <p>
		  <!-- AddThis Button BEGIN -->
		  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4d98b0b42d1454f1"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
		  <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d98b0b42d1454f1"></script>
		  <!-- AddThis Button END -->
		  </p>
		</div>
		</div>
		</div>
  </div>
</body>
</html>
