<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CADAL OEB 在线生成工具</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="The Advanced Generator, with support for all valid Dublin Core qualifiers and encoding schemes." />

	<link rel="stylesheet" type="text/css" href="css/dcstyle.css"></link>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.17.custom.css"></link>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon"></link>
	
	<script type="text/javascript" src="js/generator.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>
	<script type="text/javascript" src="js/analytics.js"></script>
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.anirows.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="js/vocabsources.js"></script>

</head>
<body class="indexbody">
	<div class="container">
		<div class="header">CADAL OEB 元数据生成器</div>
		<ul id="newmenu">
			<li><a href="/" title="Main Page">首页</a></li>
			<li><a href="/about" title="About">关于</a></li>
		</ul>
		<div>&nbsp;</div>
		<div class="page">
			<div class="centerpage">
				<div class="centerbox">
					<div class="boxheader">提示</div>
					<div class="boxtext">
						<ul class="directionslist">
							<li>填写对应的字段，然后点击“产生元数据”按钮就可以生成元数据（该数据完全符合CADAL的元数据要求），然后还可以下载元数据。</li>
							<li>当您需要更多地字段连填信息时，可以点击加号来增加字段。</li>
						</ul> 
					</div>
				</div>
			</div>
			<div>&nbsp;</div>
			<div class="leftpage">
				<div class="leftbox">
					<div class="boxheader">参考资源</div>
					<div class="boxtext">
						<span class="resourceheader">主题词：</span><br/>
						<a href="http://www.getty.edu/research/conducting_research/vocabularies/aat/" target="blank">AAT</a><br/>
						<a href="#" id="openAGROVOC">AGROVOC</a><br/>
						<a href="#" id="openITIS">ITIS</a><br/>
						<a href="#" id="openLCSH">LCSH</a><br/>
						<a href="#" id="openMESH">MESH</a><br/>
						<a href="http://www.nlm.nih.gov/class/" target="blank">NLM</a><br/>
						<a href="http://www.loc.gov/pictures/collection/tgm/" target="blank">TGM</a><br/>
						<a href="#" id="openTGN">TGN</a>
						<div class="divider"></div>
						<span class="resourceheader">日期：</span><br/>
						<a href="#" id="openDCMIPeriod">DCMI Period</a><br/>
						<a href="http://www.w3.org/TR/NOTE-datetime" target="blank" id="openW3CTDF">W3-CTDF</a>
						<div class="divider"></div>
						<span class="resourceheader">类型：</span><br/>
						<a href="#" id="openDCMIType">DCMI Type</a>
						<div class="divider"></div>
						<span class="resourceheader">格式：</span><br/>
						<a href="#" id="openIMTType">IMT</a>
						<div class="divider"></div>
						<span class="resourceheader">语言：</span><br/>
						<a href="#" id="openISO6392">ISO 639-2 Codes</a><br/>
						<a href="#" id="openISO6393">ISO 639-3 Codes</a><br/>
						<div class="divider"></div>
						<span class="resourceheader">范围：</span><br/>
						<a href="#" id="openDCMIBox">DCMI Box</a><br/>
						<a href="#" id="openISO3166">ISO 3166 Codes</a><br/>
						<a href="#" id="openDCMIPeriod2">DCMI Period</a><br/>
						<a href="#" id="openDCMIPoint">DCMI Point</a><br/>
						<a href="http://www.getty.edu/research/tools/vocabularies/tgn/index.html" target="blank">TGN</a><br/>
						<a href="#" id="openW3CTDF2">W3-CTDF</a><br/>
					</div>
				</div>
			</div>
			<div class="rightpage">
				<div class="rightbox">
					<div class="boxheader">元数据著录</div>
					<div class="boxtext">
						<br/>
            <form action="/getdc" method="post">
						<table id="titleTable" class="defaulttable">
							<tr>
								<td class="titlerow">题名（Title）<a href="http://dublincore.org/documents/usageguide/elements.shtml#title" target="blank" class="superscript">?</a></td>
								<td align="right"><a href="#creator" class="addremovebutton" onclick="addRowToTable('title');" tabindex="-1">[+]</a><a href="#creator" class="addremovebutton" onclick="removeRowFromTable('titleTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select name="titleType" class="idleField"><option id="notitle">正题名（Title）</option><option id="alternativetitle">交互题名（Atlternative Title）</option></select></td>
								<td><input type="text" name="titleRow" size="40" class="idleField" /></td>
							</tr>
						</table>
						
						<table id="creatorTable" class="defaulttable">
							<tr>
								<td class="titlerow">主要责任者（Creator）<a href="http://dublincore.org/documents/usageguide/elements.shtml#creator" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#creator" class="addremovebutton" onclick="addRowToTable('creator');" tabindex="-1">[+]</a><a href="#creator" class="addremovebutton" onclick="removeRowFromTable('creatorTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="creatorRow" size="25" class="idleField"  /></td>
								<td><select name="creatorType" id="creatorType" class="idleField"><option></option><option>著</option><option>编</option><option>撰</option></select></td>
								<td>机构<input type="text" name="institutionRow" size="15" class="idleField"  /></td>
								<td>专业<input type="text" name="disciplineRow" size="15" class="idleField"  /></td>
							</tr>
						</table>
						
						<table id="subjectTable" class="defaulttable">
							<tr>
								<td class="titlerow">主题词/关键词（Subject）<a href="http://dublincore.org/documents/usageguide/elements.shtml#subject" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#subject" class="addremovebutton" onclick="addRowToTable('subject');" tabindex="-1">[+]</a><a href="#subject" class="addremovebutton" onclick="removeRowFromTable('subjectTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="subjectRow" id="subjectRow" size="40" class="idleField" /></td>
								<td><select name="subjectType" id="subjectType" class="idleField"><option></option><option>汉语主题词表</option><option>中国分类主题词表</option><option>中国图书馆分类法</option><option>四库分类法（北大）</option><option>中国科学院图书馆分类法</option><option>美国国会图书馆主题词表</option><option>医学主题词表</option><option>杜威十进分类法</option><option>美国国会图书馆分类法</option><option>国际十进分类法</option></select></td>
							</tr>
						</table>
						
						<table id="contributorTable" class="defaulttable">
							<tr>
								<td class="titlerow">次要责任者（Contributor）<a href="http://dublincore.org/documents/usageguide/elements.shtml#contributor" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#contributor" class="addremovebutton" onclick="addRowToTable('contributor');" tabindex="-1">[+]</a><a href="#contributor" class="addremovebutton" onclick="removeRowFromTable('contributorTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="contributorRow" size="25" class="idleField"  /></td>
								<td><select name="contributorType" id="contributorType" class="idleField"><option></option><option>著</option><option>编</option><option>撰</option></select></td>
								<td>机构<input type="text" name="cinstitutionRow" size="15" class="idleField"  /></td>
								<td>专业<input type="text" name="cdisciplineRow" size="15" class="idleField"  /></td>
							</tr>
						</table>

						<table id="descriptionTable" class="defaulttable">
							<tr>
								<td class="titlerow">资源描述（Description）<a href="http://dublincore.org/documents/usageguide/elements.shtml#description" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#description" class="addremovebutton" onclick="addRowToTable('description');" tabindex="-1">[+]</a><a href="#description" class="addremovebutton" onclick="removeRowFromTable('descriptionTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td valign="top"><select name="descriptionType" class="idleField"><option value="description">资源描述（Description）</option><option value="abstract">摘要（Abstract）</option><option value="accrualPeriodicity">出版周期（Accrual Periodicity）</option><option value="tableOfContents">目录（Table of Contents）</option><option value="fund">资助（Fund）</option></select></td>
								<td><textarea rows="5" cols="50" name="descriptionRow" class="idleField"></textarea></td>
							</tr>
						</table>
						
						<table id="publisherTable" class="defaulttable">
							<tr>
								<td class="titlerow">出版者（Publisher）<a href="http://dublincore.org/documents/usageguide/elements.shtml#publisher" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#publisher" class="addremovebutton" onclick="addRowToTable('publisher');" tabindex="-1">[+]</a><a href="#publisher" class="addremovebutton" onclick="removeRowFromTable('publisherTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td colspan="2"><input type="text" name="publisherRow" id="publisherRow1" size="40" class="idleField" /></td>
							</tr>
						</table>
						
						<table id="dateTable" class="defaulttable">
							<tr>
								<td colspan="2" class="titlerow">日期（Date）<a href="http://dublincore.org/documents/usageguide/elements.shtml#date" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#date" class="addremovebutton" onclick="addRowToTable('date');" tabindex="-1">[+]</a><a href="#date" class="addremovebutton" onclick="removeRowFromTable('dateTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select id="dateType1" name="dateType" class="idleField"><option>日期（Date）</option><option>创建日期（Date Created）</option><option>有效日期（Date Valid）</option><option>可用日期（Date Available）</option><option>发布日期（Date Issued）</option><option>修改日期（Date Modified）</option><option>接受日期（Date Accepted）</option><option>版权日期（Date Copyrighted）</option><option>提交日期（Date Submitted）</option><option>答辩日期（Date Replied）</option></select></td>
								<td><input type="text" name="dateRow" id="dateRow1" size="40" class="idleField" /></td>
								<td><select id="dateEncoding1" name="dateEncoding" class="idleField"><option></option><option>Period</option><option>W3C-DTF</option></select></td>
							</tr>
						</table>
						
						<table id="formatTable" class="defaulttable">
							<tr>
								<td class="titlerow">资源形式（Format）<a href="http://dublincore.org/documents/usageguide/elements.shtml#format" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right" colspan="3"><a href="#format" class="addremovebutton" onclick="addRowToTable('format');" tabindex="-1">[+]</a><a href="#format" class="addremovebutton" onclick="removeRowFromTable('formatTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select id="formatType1" name="formatType" class="idleField"><option>资源形式（Format）</option><option>文件大小（Extent）</option><option>扫描分辨率（Scan Resolution）</option></select></td>
								<td><input type="text" name="formatRow" id="formatRow1" size="40" class="idleField" value="Image/Djvu(.djvu)" /></td>
								<td><select id="formatEncoding1" name="formatEncoding" class="idleField"><option></option><option>MIME</option></select></td>
							</tr>
						</table>

						<table id="typeTable" class="defaulttable">
							<tr>
								<td class="titlerow">资源类型（Type）<a href="http://dublincore.org/documents/usageguide/elements.shtml#type" target="blank" class="superscript" tabindex="-1">?</a></td>
							</tr>
							<tr>
								<td><select name="typeType" id="typeType1" class="idleField"><option>图书</option><option>古籍</option><option>民国图书</option><option>期刊</option><option>民国期刊</option><option>学位论文</option></select></td>
							</tr>
						</table>

						<table id="sourceTable" class="defaulttable">
							<tr>
								<td class="titlerow">资源来源（Source）<a href="http://dublincore.org/documents/usageguide/elements.shtml#source" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right" colspan="2"><a href="#source" class="addremovebutton" onclick="addRowToTable('source');" tabindex="-1">[+]</a><a href="#source" class="addremovebutton" onclick="removeRowFromTable('sourceTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="sourceRow" id="sourceRow1" size="40" class="idleField" /></td>
								<td><select name="sourceType" id="sourceType1" class="idleField"><option></option><option>URI</option></select></td>
							</tr>
						</table>

						<table id="languageTable" class="defaulttable">
							<tr>
								<td class="titlerow">语言（Language）<a href="http://dublincore.org/documents/usageguide/elements.shtml#language" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#language" class="addremovebutton" onclick="addRowToTable('language');" tabindex="-1">[+]</a><a href="#language" class="addremovebutton" onclick="removeRowFromTable('languageTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="languageRow" id="languageRow1" size="40" class="idleField"/></td>
								<td><select name="languageType" id="languageType1" class="idleField"><option></option><option>ISO 639-2</option><option>ISO 639-3</option><option>RFC 1766</option><option>RFC 3066</option></select></td>
							</tr>
						</table>

						<table id="identifierTable" class="defaulttable">
							<tr>
								<td colspan="2" class="titlerow">资源标识（Identifier）<a href="http://dublincore.org/documents/usageguide/elements.shtml#identifier" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right" colspan="2"><a href="#identifier" class="addremovebutton" onclick="addRowToTable('identifier');" tabindex="-1">[+]</a><a href="#identifier" class="addremovebutton" onclick="removeRowFromTable('identifierTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><input type="text" name="identifierRow" id="identifierRow1" size="50" class="idleField" /></td>
								<td><select id="identifierEncoding1" name="identifierEncoding" class="idleField"><option></option><option>国际标准书号（ISBN）</option><option>国际标准连续出版物号（ISSN）</option><option>电子书号（BookID）</option><option>统一资源标识符（URI）</option><option>统一资源定位符（URL）</option><option>数字对象标识符（DOI）</option></select></td>
							</tr>
						</table>
						
						<table id="coverageTable" class="defaulttable">
							<tr>
								<td colspan="2" class="titlerow">时空范围（Coverage）<a href="http://dublincore.org/documents/usageguide/elements.shtml#coverage" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#coverage" class="addremovebutton" onclick="addRowToTable('coverage');" tabindex="-1">[+]</a><a href="#coverage" class="addremovebutton" onclick="removeRowFromTable('coverageTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select name="coverageType" class="idleField" id="coverageType1"><option>时空范围（Coverage）</option><option>空间范围（Spatial）</option><option>时间范围（Temporal）</option></select></td>
								<td><input type="text" name="coverageRow" size="40" class="idleField" id="coverageRow1"/></td>
								<td><select name="coverageEncoding" class="idleField" id="coverageEncoding1"><option id="blank1"></option><option id="period1">Period</option><option id="tgn1">TGN</option></select></td>
							</tr>
						</table>

						<table id="relationTable" class="defaulttable">
							<tr>
								<td colspan="2" class="titlerow">相关资源（Relation）<a href="http://dublincore.org/documents/usageguide/elements.shtml#relation" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#relation" class="addremovebutton" onclick="addRowToTable('relation');" tabindex="-1">[+]</a><a href="#relation" class="addremovebutton" onclick="removeRowFromTable('relationTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select name="relationType" id="relationType1" class="idleField"><option>相关资源（Relation）</option><option>原版本（Is Version Of）</option><option>其他版本（Has Version）</option><option>被替代（Is Replaced By）</option><option>替代（Replaces）</option><option>被需求（Is Required By）</option><option>需求（Requires）</option><option>包含于（Is Part Of）</option><option>包含（Has Part）</option><option>被参照（Is Referenced By）</option><option>参照（References）</option><option>格式转换于（Is Format Of）</option><option>格式转换为（Has Format）</option></select></td>
								<td><input type="text" name="relationRow" id="relationRow1" size="30" class="idleField" /></td>
								<td><select name="relationEncoding" id="relationEncoding1" class="idleField"><option></option><option>国际标准书号（ISBN）</option><option>国际标准连续出版物号（ISSN）</option><option>电子书号（BookID）</option><option>统一资源标识符（URI）</option><option>统一资源定位符（URL）</option><option>数字对象标识符（DOI）</option></select></td>
							</tr>
						</table>
						
						<table id="rightsTable" class="defaulttable">
							<tr>
								<td colspan="2" class="titlerow">权限管理（Rights）<a href="http://dublincore.org/documents/usageguide/elements.shtml#rights" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#rights" class="addremovebutton" onclick="addRowToTable('rights');" tabindex="-1">[+]</a><a href="#rights" class="addremovebutton" onclick="removeRowFromTable('rightsTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select name="rightsType" class="idlefield"><option>权限（Rights）</option><option>访问权限（Access Rights）</option><option>版权解除日期（Copyright Expiry Date）</option><option>文本版权拥有者（Copyright Owner）</option><option>制作单位（Create Centre）</option><option>收藏单位（Location）</option><option>保密级别（Security Classification）</option></select></td>
								<td><input type="text" name="rightsRow" size="40" class="idleField" /></td>
								<td><select name="rightsEncoding" class="idleField"><option></option><option>URI</option></select></td>
							</tr>
						</table>
						
						<table id="editionTable" class="defaulttable">
							<tr>
								<td class="titlerow">版本信息（Edition）<a href="http://dublincore.org/documents/usageguide/elements.shtml#edition" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"><a href="#edition" class="addremovebutton" onclick="addRowToTable('edition');" tabindex="-1">[+]</a><a href="#edition" class="addremovebutton" onclick="removeRowFromTable('editionTable');" tabindex="-1">[-]</a></td>
							</tr>
							<tr>
								<td><select name="editionType" id="editionType1" class="idleField"><option value="edition">版本信息（Edition）</option><option value="history">收藏历史（History）</option></select></td>
								<td><input type="text" name="editionRow" id="editionRow1" size="40" class="idleField" /></td>
							</tr>
						</table>
						
						<table id="marcTable" class="defaulttable">
							<tr>
								<td class="titlerow">MARC记录（MARC）<a href="http://dublincore.org/documents/usageguide/elements.shtml#provenance" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"></td>
							</tr>
							<tr>
								<td colspan="2"><input type="text" name="marcRow" id="marcRow1" size="40" class="idleField" /></td>
								<td><select name="marcEncoding" class="idleField"><option></option><option>CNMARC</option><option>MARC21</option></select></td>
							</tr>
						</table>
						
						<table id="degreeTable" class="defaulttable">
							<tr>
								<td class="titlerow">学位（Degree）<a href="http://dublincore.org/documents/usageguide/elements.shtml#rightsHolder" target="blank" class="superscript" tabindex="-1">?</a></td>
								<td align="right"></td>
							</tr>

							<tr>
								<td colspan="2"><input type="text" name="degreeRow" size="40" class="idleField" />学位</td>
							</tr>
							<tr>
								<td colspan="2"><input type="text" name="degreegrantorRow" size="40" class="idleField" />授予机构</td>
							</tr>
							<tr>
								<td colspan="2"><input type="text" name="degreedisciplineRow" size="40" class="idleField" />学科</td>
							</tr>
							<tr>
								<td colspan="2"><input type="text" name="degreelevelRow" size="40" class="idleField" />学位名称</td>
							</tr>
						</table>
						
						
						<input type="button" value="预览DC元数据！" onclick="generateCode();" class="button" id="generatebutton"/>
            <input type="button" value="重置所有数据" onclick="javascript:location.reload(true)" class="button" id="resetbutton" />
            <input  type="submit" value="提交到数据库"/>
            </form>
					</div>
				</div>
				<div class="rightbox" style="margin-left:-200px">
          <form action="/getfile" method="post">
					<div class="boxheader">转换输出DC元数据信息</div>
					<div class="boxtext" style="padding:10px;margin:auto;">
						<textarea rows="20" cols="112" name="xmlresults" id="xmlresults"></textarea>
						<br/>
						<input type="submit" value="保存元数据到文件！" class="button" />
					</div>
				</div>
				<div class="lowerbox" style="margin-left:-200px">
					<div class="lowertext">
						<p>@hfl</p>
					</div>
				</div>
			</div><!--End rightpage-->
		</div><!--End page-->
	</div><!--End container-->

	<!--Begin modal popups-->
	<div id="findDCMIType" title="DCMI Type Vocabulary Finder">
		<p>Start typing in the field below to find a valid DCMI Type.</p>
		<input id="DCMITypeFinder" class="finderinput"  size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addDCMI();" />
		<p>If you are very unfamiliar with the DCMI Type Vocabulary, you may want to consult <a href="http://dublincore.org/documents/dcmi-type-vocabulary/" target="blank" style="color:#03406A">this website</a> first.</p>
	</div>

	<div id="findIMTType" title="IMT Vocabulary Finder">
		<form id="IMTlookup" action="#">
			<p>Start typing in the field below to find a valid IMT (Internet Media Type). Please note that this search capability may not have access to the entire current list of current IMTs -- you can search the whole thing over <a href="http://www.iana.org/assignments/media-types/index.html" target="blank" style="color:03406A">here</a>.</p>
			<input id="IMTTypeFinder" class="finderinput" size="45" />
			<input type="button" value="Add to Record" class="modalbutton" onclick="addIMT();" />
			<p>If you are very unfamiliar with the IMT Vocabulary, you may want to consult <a href="http://www.iana.org/assignments/media-types/" target="blank" style="color:#03406A">this website</a> first.</p>
		</form>
	</div>

	<div id="findISO3166" title="ISO-3166 Country Code Lookup">
		<form id="ISO3166lookup" action="#">
			<p>Start typing in the field below to find a country by name. After you select a country, the correct ISO-3166 code will automatically appear in the box below. Please note that this search capability may not have access to the entire current list of current ISO-3166 codes -- you can search the whole thing over <a href="http://www.iso.org/iso/home/standards/country_codes/country_names_and_code_elements.htm" target="blank" style="color:03406A">here</a></p>
			<input id="ISO3166Finder" class="finderinput" size="45" />
			<input type="button" value="Add to Record" class="modalbutton" onclick="addISO3166();" />
			<p>If you are very unfamiliar with the ISO-3166 standard, you may want to consult <a href="http://en.wikipedia.org/wiki/ISO_3166" target="blank" style="color:#03406A">this website</a> first.</p>
		</form>
	</div>

	<div id="createDCMIPeriod" title="DCMI Period Value Builder">
		<form id="DCMIPeriodBuilder" action="#">
			<p>DCMI Period has four elements: a name, a starting point, an ending point, and an encoding scheme. No elements are mandatory (well, you should probably have at least one).</p>
			<label>Name:</label><input id="PeriodName" size="45" onblur="buildDCMIPeriod();" /><br/>
			<label>Start:</label><input id="PeriodStart" size="45" onblur="buildDCMIPeriod();" /><br/>
			<label>End:</label><input id="PeriodEnd" size="45" onblur="buildDCMIPeriod();" /><br/>
			<label>Scheme:</label><input id="PeriodScheme" size="45" onblur="buildDCMIPeriod();" /><br/>
			<label>Full String:</label><input id="PeriodString" size="45" />
			<input type="button" value="Add to Record as Date" class="modalbutton" onclick="addDCMIPeriodDate();" style="margin-bottom:10px;" />
			<input type="button" value="Add to Record as Coverage" class="modalbutton" onclick="addDCMIPeriodCoverage();" />
			<p>If you are very unfamiliar with the DCMI Period Encoding Scheme, you may want to consult <a href="http://dublincore.org/documents/dcmi-period/" target="blank" style="color:#03406A">this website</a> first.</p>
		</form>
	</div>

	<div id="createDCMIBox" title="DCMI Box Value Builder">
		<form id="DCMIBoxBuilder" action="#">
			<p>DCMI Box has ten elements used to define a place's boundaries (in either two or three dimensions), the units used to define those boundaries, the map projection used, and a name. No elements are mandatory (well, you should probably have at least one).</p>
			<label>Name:</label> <input id="BoxName" size="45" onblur="buildDCMIBox();"/><br/>
			<label>North Limit:</label> <input id="BoxNorth" size="45" onblur="buildDCMIBox();"/><br/>
			<label>East Limit:</label> <input id="BoxEast" size="45" onblur="buildDCMIBox();"/><br/>
			<label>South Limit:</label> <input id="BoxSouth" size="45" onblur="buildDCMIBox();"/><br/>
			<label>West Limit:</label> <input id="BoxWest" size="45" onblur="buildDCMIBox();"/><br/>
			<label>Upper Limit:</label> <input id="BoxUpper" size="45" onblur="buildDCMIBox();"/><br/>
			<label>Lower Limit:</label> <input id="BoxLower" size="45" onblur="buildDCMIBox();"/><br/>
			<label>2D Units:</label> <input id="Box2DUnits" size="45" onblur="buildDCMIBox();"/><br/>
			<label>3D Units:</label> <input id="Box3DUnits" size="45" onblur="buildDCMIBox();"/><br/>
			<label>Map Projection:</label> <input id="BoxMap" size="45" onblur="buildDCMIBox();"/><br/>
			<label>Full String:</label> <input id="BoxString" size="45" />
			<input type="button" value="Add to Record" class="modalbutton" onclick="addDCMIBox();" />
			<p>If you are very unfamiliar with the DCMI Box Encoding Scheme, you may want to consult <a href="http://dublincore.org/documents/dcmi-box/" target="blank" style="color:#03406A">this website</a> first.</p>
		</form>
	</div>

	<div id="createDCMIPoint" title="DCMI Point Value Builder">
		<form id="DCMIPointBuilder" action="#">
			<p>DCMI Point has seven elements used to define the coordinates of a specific point (in either two or three dimensions), the units used to define those coordinates, the map projection used, and a name. No elements are mandatory (well, you should probably have at least one).</p>
			<label>Name:</label> <input id="PointName" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>East:</label> <input id="PointEast" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>North:</label> <input id="PointNorth" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>Elevation:</label> <input id="PointElev" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>2D Units:</label> <input id="Point2DUnits" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>3D Units:</label> <input id="Point3DUnits" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>Map Projection:</label> <input id="PointMap" size="45" onblur="buildDCMIPoint();"/><br/>
			<label>Full String:</label> <input id="PointString" size="45" />
			<input type="button" value="Add to Record" class="modalbutton" onclick="addDCMIPoint();" />
			<p>If you are very unfamiliar with the DCMI Point Encoding Scheme, you may want to consult <a href="http://dublincore.org/documents/dcmi-point/" target="blank" style="color:#03406A">this website</a> first.</p>
		</form>
	</div>

<!--<div id="createW3CDTF" title="W3CDTF Value Builder">
<form id="W3CDTFBuilder" action="#">
	<p>W3CDTF has six increasingly specific elements for specifying a date and time: year, month, date, hours and minutes, seconds, and fractions of a second. You don't have to go all the way out to fractions of a second (unless you really want to). The format is more or less YYYY-MM-DD hh:mm:ss.ms with a "T" to separate the date and time and the timezone appended to the end.</p>
	  <p>Year: <input id="W3Year" size="4" onblur="buildW3CDTF();"/></p>
	  <p>Month: <input id="W3Month" size="2" onblur="buildW3CDTF();"/></p>
	  <p>Date: <input id="W3Date" size="2" onblur="buildW3CDTF();"/></p>
	  <p>Hours: <input id="W3Hours" size="2" onblur="buildW3CDTF();"/></p>
	  <p>Minutes: <input id="W3Minutes" size="2" onblur="buildW3CDTF();"/></p>
	  <p>Seconds: <input id="W3Seconds" size="2" onblur="buildW3CDTF();"/></p>
	  <p>Fractions of Seconds: <input id="W3SecondsFractions" size="45" onblur="buildW3CDTF();" /></p>
	  <p>Local Time Zone: 
	    <select id="W3Timezone" onblur="buildW3CDTF();"> 
	    <option value="">Select One</option>
        <option value="-12:00">(GMT -12:00) International Dateline West</option>
        <option value="-11:00">(GMT -11:00) US Outlying Islands</option>
        <option value="-10:00">(GMT -10:00) Hawaii</option>
        <option value="-9:00">(GMT -9:00) Alaska</option>
        <option value="-8:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
        <option value="-7:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
        <option value="-6:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
        <option value="-5:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
        <option value="-4:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
        <option value="-3.50">(GMT -3:30) Newfoundland</option>
        <option value="-3:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
        <option value="-2:00">(GMT -2:00) Mid-Atlantic</option>
        <option value="-1:00">(GMT -1:00) Azores, Cape Verde Islands</option>
        <option value="+0:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
        <option value="+1:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
        <option value="+2:00">(GMT +2:00) Kaliningrad, South Africa</option>
        <option value="+3:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
        <option value="+3.50">(GMT +3:30) Tehran</option>
        <option value="+4:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
        <option value="+4.50">(GMT +4:30) Kabul</option>
        <option value="+5:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
        <option value="+5.50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
        <option value="+5.75">(GMT +5:45) Kathmandu</option>
        <option value="+6:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
        <option value="+7:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
        <option value="+8:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
        <option value="+9:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
        <option value="+9.50">(GMT +9:30) Adelaide, Darwin</option>
        <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
        <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
        <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
	    
	    </select>
	  </p>
	  <p>Full String: <input id="W3String" size="45" /></p>
	    <input type="button" value="Add to Record as Date" class="modalbutton" onclick="addW3Date();" style="margin-bottom:10px;" />
	    <input type="button" value="Add to Record as Coverage" class="modalbutton" onclick="addW3Coverage();" />
	  <p>If you are very unfamiliar with the W3-CDTF, you may want to consult <a href="http://www.w3.org/TR/NOTE-datetime" target="blank" style="color:#03406A">this website</a> first.</p>
</form>
</div>-->
<!--Thanks to http://michaelapproved.com/articles/timezone-dropdown-select-list-->

<div id="findISO6392" title="ISO 639-2 Language Code Finder">
	<form id="ISO6392lookup" action="#">
		<p>Start typing in the field below to find a language by name. After you select a language, the correct ISO 639-2 code will automatically appear in the box below. Please note that this search capability may not have access to the entire current list of current ISO 639-2 codes -- you can search the whole thing over <a href="http://www.loc.gov/standards/iso639-2/php/code_list.php" target="blank" style="color:03406A">here</a>.</p>
		<input id="ISO6392Finder" class="finderinput" size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addISO6392();" />
		<p>If you are very unfamiliar with the ISO 639-2 standard, you may want to consult <a href="http://www.loc.gov/standards/iso639-2/" target="blank" style="color:#03406A">this website</a> first.</p>
		<p>Note: this tool uses the terminology applications codes (ISO 639-2/T), not the bibliographic applications codes. For more on this, <a href="http://en.wikipedia.org/wiki/ISO_639-2#B_and_T_codes" target="blank" style="color:#03406A">click here</a>.</p>
	</form>
</div>

<div id="findISO6393" title="ISO 639-3 Language Code Finder">
	<form id="ISO6393lookup" action="#">
		<p>Start typing in the field below to find a language by name. After you select a language, the correct ISO 639-3 code will automatically appear in the box below. Please note that this search capability may not have access to the entire current list of current ISO 639-2 codes -- you can search the whole thing over <a href="http://www.sil.org/iso639-3/codes.asp" target="blank" style="color:03406A">here</a>.</p>
		<input id="ISO6393Finder" class="finderinput" size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addISO6393();" />
		<p>If you are very unfamiliar with the ISO 639-3 standard, you may want to consult <a href="http://www.sil.org/iso639-3/" target="blank" style="color:#03406A">this website</a> first.</p>
	</form>
</div>

<div id="findAGROVOC" title="AGROVOC Vocabulary Search">
	<form id="AGROVOClookup" action="#">
		<p>Start typing in the field below to search for a term from the AGROVOC thesaurus. Suggested terms will appear as you type. Please note that this search capability may not have access to the entire current AGROVOC thesaurus -- you can search the whole thing over <a href="http://aims.fao.org/standards/agrovoc/functionalities/search" target="blank" style="color:#03406A">here</a>.</p>
		<input id="AGROVOCfinder" class="finderinput" size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addAGROVOC();" />
		<p>If you are unfamiliar with AGROVOC, you may want to consult <a href="http://aims.fao.org/standards/agrovoc/about" target="blank" style="color:#03406A">this website</a> first.</p>
		<p>This search capability is graciously made possible by the HIVE project, a collaboration of the University of North Carolina at Chapel Hill's School of Information and Library Science/Metadata Research Center and NESCent. Learn more about HIVE <a href="https://www.nescent.org/sites/hive/Main_Page" target="blank" style="color:#03406A">here</a>.</p>
	</form>
</div>

<div id="findITIS" title="ITIS Vocabulary Search">
	<form id="ITISlookup" action="#">
		<p>Start typing in the field below to search for a term from the ITIS taxonomy. Suggested terms will appear as you type. Please note that this search capability may not have access to the entire current ITIS taxonomy -- you can search the whole thing over <a href="http://www.itis.gov/" target="blank" style="color:#03406A">here</a>.</p>
		<input id="ITISfinder" class="finderinput" size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addITIS();" />
		<p>If you are unfamiliar with ITIS, you may want to consult <a href="http://www.itis.gov/info.html" target="blank" style="color:#03406A">this website</a> first.</p>
		<p>This search capability is graciously made possible by the HIVE project, a collaboration of the University of North Carolina at Chapel Hill's School of Information and Library Science/Metadata Research Center and NESCent. Learn more about HIVE <a href="https://www.nescent.org/sites/hive/Main_Page" target="blank" style="color:#03406A">here</a>.</p>
	</form>
</div>

<div id="findMESH" title="MESH Vocabulary Search">
	<form id="MESHlookup" action="#">
		<p>Start typing in the field below to search for a term from the MESH vocabulary. Suggested terms will appear as you type. Please note that this search capability may not have access to the entire current MESH vocabulary -- you can search the whole thing over <a href="http://www.nlm.nih.gov/mesh/MBrowser.html" target="blank" style="color:03406A">here</a>.</p>
		<input id="MESHfinder" class="finderinput" size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addMESH();" />
		<p>If you are unfamiliar with MESH, you may want to consult <a href="http://www.nlm.nih.gov/mesh/" target="blank" style="color:#03406A">this website</a> first.</p>
		<p>This search capability is graciously made possible by the HIVE project, a collaboration of the University of North Carolina at Chapel Hill's School of Information and Library Science/Metadata Research Center and NESCent. Learn more about HIVE <a href="https://www.nescent.org/sites/hive/Main_Page" target="blank" style="color:#03406A">here</a>.</p>
	</form>
</div>

<div id="findLCSH" title="LCSH Vocabulary Search">
	<form id="LCSHlookup" action="#">
		<p>Start typing in the field below to search for a term from the LCSH vocabulary. Suggested terms will appear as you type. Please note that this search capability may not have access to the entire current LCSH vocabulary -- you can search the whole thing over <a href="http://authorities.loc.gov/" target="blank" style="color:03406A">here</a>.</p>
		<input id="LCSHfinder" class="finderinput"  size="45" />
		<input type="button" value="Add to Record" class="modalbutton" onclick="addLCSH();" />
		<p>If you are unfamiliar with LCSH, you may want to visit your local library. Or <a href="http://en.wikipedia.org/wiki/Library_of_Congress_Subject_Headings" target="blank" style="color:#03406A">this</a>.</p>
		<p>This search capability is graciously made possible by the HIVE project, a collaboration of the University of North Carolina at Chapel Hill's School of Information and Library Science/Metadata Research Center and NESCent. Learn more about HIVE <a href="https://www.nescent.org/sites/hive/Main_Page" target="blank" style="color:#03406A">here</a>.</p>
	</form>
</div>


<div id="findTGN" title="TGN 词汇搜索">
	<form id="TGNlookup" action="#">
		<p>Start typing in the field below to search for a term from the AGROVOC thesaurus. Suggested terms will appear as you type. Please note that this search capability may not have access to the entire current TGN vocbaulary -- you can search the whole thing over <a href="http://www.getty.edu/research/tools/vocabularies/tgn/index.html" target="blank" style="color:03406A">here</a>.</p>
		<input id="TGNfinder" class="finderinput" size="45" />
		<input type="button" value="添加到主题词" class="modalbutton" onclick="addTGNSubject();" style="margin-bottom:10px;" />
		<input type="button" value="添加到时空范围" class="modalbutton" onclick="addTGNCoverage();" />
		<p>If you are unfamiliar with TGN, you may want to consult <a href="http://www.getty.edu/research/tools/vocabularies/tgn/about.html" target="blank" style="color:#03406A">this website</a> first.</p>
		<p>This search capability is graciously made possible by the HIVE project, a collaboration of the University of North Carolina at Chapel Hill's School of Information and Library Science/Metadata Research Center and NESCent. Learn more about HIVE <a href="https://www.nescent.org/sites/hive/Main_Page" target="blank" style="color:#03406A">here</a>.</p>
	</form>
</div>

</body>
</html>
